@charset "UTF-8";

body {
  font-family: $font-family-sans-serif;
  background-color: $color-white!important;
}

// Main elements

.no-margin {
  margin-top: 0 !important;
}

.align-left {
  text-align: left;
}

iframe {
  max-width: 100%;
}

a {
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}

ul, .list-inline {
  margin: 0;
  padding: 0;
}

.text00 {
  font-size: 24px;
}

.w-600 {
  max-width: 550px;
}

.form-control-sm {
  width: 25% !important;
}

//Modal

.modal-title {
  font-size: 18px;
  padding-top: $gridunit-small;
  padding-bottom: 10px;
}

// Buttons

.nav {
  .btn-green {
    margin-top: 0;
    font-size: 16px!important;
  }
}

.navbar-nav {
  li {
    a {
      padding: 10px 0!important;
      color: $color-black!important;
      margin: 0 $gridunit-small/2;
      &:hover {
        &:after {
          content: '';
          display: block;
          position: absolute;
          height: 2px;
          width: 100%;
          background-color: $brand-info;
        }
      }
    }
  }
  .active-menu-item {
    position: relative;
    &:after {
      content: '';
      display: block;
      position: absolute;
      height: 2px;
      width: 100%;
      background-color: $brand-info;
    }
  }
}

.btn-green, .btn-blue {
  margin-top: 50px;
  color: $color-white;
  font-size: 18px!important;
  text-transform: uppercase;
  font-weight: bold!important;
  padding: 10px 50px!important;
  background-color: $brand-success;
  &:hover {
    color: $color-white!important;
    background-color: $color-black;
  }
}

.btn-blue {
  background-color: $brand-info;
  margin-top: 10px;
}

.btn-send {
  border: none;
  height: 300px;
  width: 600px;
  border-bottom-left-radius: 400px;
  border-bottom-right-radius: 400px;
  position: absolute;
  margin-left: -300px;
  bottom: 0;
  background-color: $brand-success;
  clip: rect(200px, 600px, 300px, 0px);
  span {
    bottom: 30px;
    left: 50%;
    transform: translate(-50%, 0);
    position: absolute;
    text-transform: uppercase;
    color: $color-white;
    font-weight: 700;
    font-size: 24px;
  }
  &:hover {
    background-color: $color-black;
  }
}

// Headings

h1, h2, h3, h4, h5, h6 {
  font-family: $font-family-headings!important;
}

.type01, .type02 {
  font-size: 36px;
  font-weight: 600;
  padding-bottom: $gridunit-large;
  font-family: $font-family-headings;
}

.type01 {
  color: $color-black;
}

.type02 {
  color: $color-white;
}

.type01, .type02 {
  &.line-btm {
    &:after {
      background-color: $brand-info;
      content: '';
      display: block;
      height: 3px;
      width: 70px;
      position: absolute;
      left: 50%;
      margin-left: -35px;
      margin-top: 15px;
    }
  }
}



// Navbar

.navbar {
  background-color: $color-light-grey;
  a {
    text-transform: uppercase;
  }
}

.navbar-nav {
  margin: 7px -15px!important;
}

.header-bottom {
  @include display-flex;
  @include align-items(center);
  margin-top: 60px;
  padding: $gridunit-small/2 0;
  background-color: rgba(0,0,0,0.5);
  color: $color-white;
  z-index: 1;
  position: relative;
  form {
    @include display-flex;
  }
  .row {
    @include display-flex;
    @include align-items(center);
    .input-group {
      position: relative;
      left: 35%;
      width: 200px;
      .form-control {
        height: 35px;
      }
      button {
        background-color: $brand-primary;
        height: 35px;
        &:hover {
          background-color: $brand-success;
          color: $color-white;
        }
      }
    }
  }
  .ico-fb {
    position: absolute;
    right: 0;
    top:0;
    width: 35px;
    height: 35px;
    background-image: url(../images/facebook-logo.svg);
    background-position: 0 0;
    background-size: 100%;
    text-indent: -9999px;
  }
  a {
    color: $color-white;
    &:hover {
      color: $color-white;
    }
  }
}

// Jumbotron

.front-hero {
  @include display-flex;
  @include align-items(center);
  @include justify-content(center);
  position: relative;
  margin-top: -70px;
  height: calc(100vh - #{$gridunit-large});
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  .front-hero__title {
    @include display-flex;
    @include align-items(center);
    @include justify-content(center);
    @include flex-direction(column);
    margin-top: 120px;
    text-align: center;
    position: relative;
    z-index: 50;
    max-width: 450px;
    margin-left: 100px;
    &:after {
      content: '';
      background-color: rgba(128,205,102,0.8);
      height: 450px;
      width: 450px;
      border-radius: 50%;
      z-index: 10;
    }
    &:before {
      content: '';
      background-color: rgba(100,196,198,0.8);
      height: 300px;
      width: 300px;
      border-radius: 50%;
      position: absolute;
      left: -60px;
      top: -60px;
      z-index: -1;
    }
    &:hover {
      &:after {
        background-color: rgba(128,205,102,1);
      }
    }
  }
  h1 {
    position: absolute;
    margin: 0;
    padding: 0 $gridunit-large*2;
    z-index: 20;
    top: 50%;
    transform: translate(0%, -50%);
    &:hover, &:focus, &:active {
      text-decoration: none;
    }
    span {
      &:first-child,  &:nth-child(2) {
        font-size: 36px;
        line-height: 48px;
      }
      &:first-child {
        font-weight: 600;
        color: $color-white;
      }
      &:nth-child(2) {
        color: $color-black;
        font-weight: 400;
      }
      &:nth-child(3) {
        font-size: 24px;
        color: $color-white;
        font-weight: 300;
        line-height: 36px;
      }
    }
  }
  .read-more {
    position: absolute;
    margin: 0;
    padding: 0 $gridunit-large*2;
    z-index: 20;
    top: 80%;
    transform: translate(0%, -50%);
    &:hover {
      text-decoration: underline;
    }
  }
}

.front-hero--subpage {
  height: 350px;
  background-size: cover;
  background-position: 0 70%;
  h2 {
    font-size: 36px;
    text-align: center;
    position: relative;
    top: 100px;
    color: $color-white;
    font-weight: 600;
  }
}

//accordion

.accordion {
  margin-top: 50px;
  .accordion-heading {
    margin-bottom: $gridunit-large;
  }
  .card-header {
    height: 30px;
    font-size: $font-size-large;
  }
}

//pagination


// Content

.pad01 {
  padding: $gridunit-large*4 $gridunit-large*2!important;
}

.box00 {
  margin-top: 80px;
  margin-bottom: 80px;
  .content {
    padding: 0 $gridunit-large 0 0;
    .list01 {
      .btn-green, .btn-blue {
        padding: 10px 32px!important;
        margin-bottom: 10px!important;
        margin-top: 10px;
      }
    }
    .list-inline {
      li {
        font-size: 28px;
        font-weight: 500;
      }
    }
  }
  figure {
    padding: $gridunit-large;
    iframe { max-width: 100%; }
  }
}

.box02, .box03, .box04 {
  margin-top: 50px;
  margin-bottom: 50px;
}

.box02 {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  .list00 {
    margin-top: $gridunit-large*4;
    list-style: none;
    li {
      cursor: pointer;
      position: relative;
      @include display-flex;
      @include justify-content(center);
      &:hover {
        .overlay {
          @include display-flex;
        }
      }
      margin-bottom: $gridunit-large*2.5;
      a {
        text-indent: -9999em;
      }
      .overlay {
        display: none;
        background-color: rgba(0, 0, 0, 0.7);
        position: absolute;
        top: 0;
        left: 0;
        width: 250px;
        height: 250px;
        border-radius: 50%;
        @include flex-direction(column);
        @include justify-content(center);
        p {
          color: $color-white;
          font-size: 18px;
        }
      }
      svg {
        position: absolute;
        top: -50px;
        text {
          font-size: 28px;
          fill: $color-white;
          font-weight: 700;
          text-transform: uppercase;
        }
      }
      .circle {
        position: absolute;
        height: 195px;
        width: 195px;
        border-radius: 50%;
        background-color: $brand-success;
        left: 0px;
        top: -$gridunit-small*2;
        a {
          padding: 95px;
          position: relative;
          top: 43%;
          z-index: 1;
        }
      }
      .img-wrap {
        width: 250px;
        height: 250px;
        position: relative;
        overflow: hidden;
        border-radius: 50%;
        img {
          display: inline;
          margin: 0 auto;
          height: 100%;
          width: auto;
        }

      }
    }
  }
  .bg00 {
    background-color: rgba(0, 0, 0, 0.5);
    color: $color-white;
    @include display-flex;
    @include flex-direction(column);
    @include align-content(center);
    text-align: left;
    h3 {
      text-transform: uppercase;
      font-size: 24px;
      font-weight: 700;
      &:first-of-type {
        color: $brand-success;
      }
      &:last-of-type {
        color: $brand-info;
      }
    }
  }
}

.box03 {
  position: relative;
  background: linear-gradient( rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url(../images/kitsanoo.jpg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 300px;
  @include display-flex;
  @include align-items(center);
  p {
    color: $color-white;
  }
  &:after {
    content: '';
    position: absolute;
    display: block;
    top: 300px;
    left: 50%;
    height: 300px;
    width: 1px;
    background-color: $brand-info;
  }
}

.box04 {
  @include display-flex;
  @include justify-content(center);
  .type01 {
    margin-bottom: $gridunit-large;
  }
  .form-container {
    position: relative;
    background-color: $color-light-grey;
    border-radius: 50%;
    height: 600px;
    width: 600px;
    @include display-flex;
    @include align-items(center);
    @include justify-content(center);
    form {
      width: 100%;
      max-width: 405px;
      input {
        height: 50px!important;
        border: none!important;
      }
      textarea { border: none!important; }
      input, textarea {
        @include placeholder {
          color: $color-black;
          text-transform: uppercase;
          font-weight: 700;
        }
      }
    }
    &:after {
      content: '';
      position: absolute;
      display: block;
      top: 600px;
      left: 50%;
      height: 145px;
      width: 1px;
      background-color: $brand-success;
    }
  }
}

.article00 {
  .box04 {
    margin-top: 0;
    .form-container {
      &:after {
        display: none;
      }
    }
  }
}

.box05 {
  margin-top: $gridunit-large;
}

.list03 {
  margin-left: 20px;
}

.list-inline {
  .item01 {
    width: 35px;
    height: 35px;
    float: right;
  }
  .item02 {
    height: 30px;
  }
  .ico-fb {
    width: 35px;
    height: 35px;
    position: relative;
    padding-left: 15px;
    padding-right: 15px;
    top: 5px;
    background-image: url(../images/icons8-facebook.svg);
    background-position: 0 0;
    background-size: 100%;
    background-repeat: no-repeat;
  }
  .ico-msn {
    width: 35px;
    height: 35px;
    position: relative;
    padding-left: 15px;
    padding-right: 15px;
    top: 5px;
    background-image: url(../images/icons8-facebook-messenger.svg);
    background-position: 0 0;
    background-size: 100%;
    background-repeat: no-repeat;
  }
  .ico-gmail {
     width: 35px;
     height: 35px;
     position: relative;
     padding-left: 15px;
     padding-right: 15px;
     top: 5px;
     background-image: url(../images/icons8-gmail.svg);
     background-position: 0 0;
     background-size: 100%;
     background-repeat: no-repeat;
   }

  .ico-swed {
    position: relative;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 20px;
    top: 5px;
    background-image: url(../images/swed.png);
    background-position: 0 0;
    background-size: 100%;
    background-repeat: no-repeat;
  }

  .ico-seb {
    position: relative;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 20px;
    top: 0px;
    background-image: url(../images/seb.png);
    background-position: 0 0;
    background-size: 100%;
    background-repeat: no-repeat;
  }
}

.img-bg {
  position: relative;
  padding: 30px;
  &:before {
    content: " ";
    display: block;
    width: 250px;
    height: 400px;
    position: absolute;
    top: -10%;
    left: 15%;
    background-image: url("../images/dog2.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 0 0;
    z-index: -1;
  }
  &:after {
    content: " ";
    display: block;
    width: 250px;
    height: 400px;
    position: absolute;
    top: 15%;
    right: 10%;
    background-image: url("../images/dog.jpg");
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: 0 0;
    z-index: -1;
  }
}

.type04 {
  color: $brand-primary;
  font-size: 18px;
}

// Footer

footer {
  .bg02 {
    background-color: $color-grey;
    padding: 200px 0 100px 0;
    margin-top: 0px;
  }
  .content {
    @include display-flex;
    @include justify-content(center);
  }
  .footer-bottom {
    padding: $gridunit-small 0;
    .footer-bottom__content{
      @include display-flex;
      @include justify-content(space-between);
      @include align-items(center);
      ul {
        margin: 0;
        list-style: none;
        @include display-flex;
        li {
          &:first-of-type, &:nth-child(2) {
            margin-right: $gridunit-small;
          }
        }
      }
    }
  }
  .type03 {
    text-transform: uppercase;
    font-size: 18px;
    color: $color-black;
  }
  ul {
    list-style: none;
  }
}

.template- {
  footer {
    margin-top: -150px;
  }
}



@-webkit-keyframes ani-mouse {
  0% {
    opacity: 1;
    top: 29%;
  }
  15% {
    opacity: 1;
    top: 50%;
  }
  50% {
    opacity: 0;
    top: 50%;
  }
  100% {
    opacity: 0;
    top: 29%;
  }
}
@-moz-keyframes ani-mouse {
  0% {
    opacity: 1;
    top: 29%;
  }
  15% {
    opacity: 1;
    top: 50%;
  }
  50% {
    opacity: 0;
    top: 50%;
  }
  100% {
    opacity: 0;
    top: 29%;
  }
}
@keyframes ani-mouse {
  0% {
    opacity: 1;
    top: 29%;
  }
  15% {
    opacity: 1;
    top: 50%;
  }
  50% {
    opacity: 0;
    top: 50%;
  }
  100% {
    opacity: 0;
    top: 29%;
  }
}
.scroll-btn {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: $gridunit-small;
  text-align: center;
  p {
    margin-top: $gridunit-large*2;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
  }
}
.scroll-btn > * {
  display: inline-block;
  line-height: 18px;
  font-size: 13px;
  font-weight: normal;
  color: $color-white;
  letter-spacing: 2px;
}
.scroll-btn > *:hover,
.scroll-btn > *:focus,
.scroll-btn > *.active {
  color: #ffffff;
}
.scroll-btn > *:hover,
.scroll-btn > *:focus,
.scroll-btn > *:active,
.scroll-btn > *.active {
  opacity: 0.8;
  filter: alpha(opacity=80);
}
.scroll-btn .mouse {
  position: relative;
  display: block;
  width: 35px;
  height: 55px;
  margin: 0 auto 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 3px solid white;
  border-radius: 23px;
}
.scroll-btn .mouse > * {
  position: absolute;
  display: block;
  top: 29%;
  left: 50%;
  width: 8px;
  height: 8px;
  margin: -4px 0 0 -4px;
  background: white;
  border-radius: 50%;
  -webkit-animation: ani-mouse 2.5s linear infinite;
  -moz-animation: ani-mouse 2.5s linear infinite;
  animation: ani-mouse 2.5s linear infinite;

}